* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #1c1c1c, #3a3a3a);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    margin: 4rem;
    justify-content: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    font-weight: 700;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 350px;
}

.container h1 {
    font-size: 24px;
    font-weight: 600;
}

.container p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #ff9800;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff9800;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e68900;
}

#result {
    /* background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: justify;
    width: 350px; */
    margin-top: 1rem;
}